<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AlertMapper">

    <select id="getAllAlert" resultType="com.example.demo.pojo.Alert">
        select * from tb_alert order by alert_status desc,alert_time desc
    </select>

    <select id="getAlertByDate" resultType="com.example.demo.pojo.Alert">
        select * from tb_alert where to_char(alert_time,'yyyy-mm-dd')=#{date} order by alert_status desc,alert_time desc
    </select>
</mapper>