<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>报警后台管理系统</title>
    <link href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="static/jquery-2.1.4/jquery.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $('#change').click(function () {
            var pwd1 = $('#password').val();
            var pwd2 = $('#password2').val();
            if(pwd1.length==0||pwd2.length==0)
                alert("密码不能为空");
            else if(pwd1!=pwd2)
                alert("两次密码不相同");
            else{
                $.ajax({
                    url: "addchangepassword",
                    type: "post",
                    data: {
                        "password": pwd1
                    },
                    dataType : "json",
                    traditional: true,
                    success: function(data) {
                        var issuccess=data.issuccess;
                        if(issuccess=="1"){
                            alert("修改成功");
                            window.location.href="login"
                        }
                        else{
                            alert("修改失败");
                        }
                    }
                });
            }
        })
    })
</script>
<table>
    <tr>
        <td><label>新密码：</label></td>
        <td><input type="password" id="password" name="password" placeholder="请输入新密码" autocomplete="off"/></td>
    </tr>
    <tr>
        <td><label>确认密码：</label></td>
        <td><input type="password" id="password2" name="password2" placeholder="请再输入一次" autocomplete="off"/></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><button type="submit" id="change">确认修改</button></td>
    </tr>
</table>
<p><a th:href="index">返回</a></p>
</body>
</html>