<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>报警后台管理系统</title>
</head>
<body>
    <form action="addlogin" method="post">
        <table>
            <tr>
                <td><label>用户名:</label></td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td><label>密码:</label></td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><button type="submit">登录</button></td>
            </tr>
        </table>
    </form>
</body>
</html>