<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>报警后台管理系统</title>
    <link href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="static/jquery-2.1.4/jquery.min.js" type="text/javascript"></script>
<!--分页-->
<script>
    var pageSize=10;  //每页显示的记录条数
    var curPage=0;   //显示第curPage页
    var len;         //总行数
    var page;        //总页数
    $(function(){
        len =$("#show_tab tr").length-1;//去掉表头
        page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
        document.getElementById("page").value=page;
        curPage=1;
        displayPage();//显示第一页
        $("#nextpage").click(function(){//下一页
            if(curPage<page){
                curPage+=1;
            }
            else{
                alert("已经是最后一页");
            }
            displayPage();
        });
        $("#lastpage").click(function(){//上一页
            if(curPage>1){
                curPage-=1;
            }
            else{
                alert("已是第一页");
            }
            displayPage();
        });
        $("#npage").click(function(){//跳到固定某一页
            var npage=parseInt(document.getElementById("curPage").value);
            if(npage>page||npage<1){
                alert("该页不存在");
            }
            else{
                curPage=npage;
            }
            displayPage();
        });
    });
    function displayPage(){
        var begin=(curPage-1)*pageSize;//起始记录号
        var end = begin + pageSize;
        if(end > len ) end=len;
        $("#show_tab tr").hide();
        $("#show_tab tr").each(function(i){
            if(i-1>=begin && i-1<end)//显示第page页的记录
            {
                $("#show_tab_one").show();
                $(this).show();
                document.getElementById("curPage").value=curPage;
            }
        });

    }
</script>
<table border="1" id="show_tab">
    <thead>
    <tr id="show_tab_one"><td>数据源组名</td><td></td><td></td></tr>
    </thead>
    <tbody id="tbodydata">
    <tr th:each="source : ${sourcelist}" th:id="show_tabtr">
        <td th:text="${source.source_group_name}"></td>
        <td><a th:href="@{sourcegroupdetail(sourcegroupid=${source.source_group_id})}">查看数据源</a></td>
        <td><a th:href="@{sourceuser(sourcegroupid=${source.source_group_id})}">查看关联用户组</a></td>
    </tr>
    </tbody>
</table>
<input id="lastpage" type="button" value="上一页" >
<input id="curPage" type="text" size="5">
<input id="npage" type="button" value="确定">
<input id="nextpage" type="button" value="下一页">
共<input id="page" type="text" size="1" readonly="readonly" >页
<p><a th:href="globalmonitor">查看全局监控时间</a></p>
<p><a th:href="globalignore">查看全局忽略字段</a></p>
<p><a th:href="index">返回</a></p>
</body>
</html>